html, body {
    width:100vw;
    height:100vh;
    margin:0;
    color: #71f341;
}

.noCursor {
    cursor: none;
}

.layout {
    border: 5px solid #71f341;
    background-color: #000;
}

.menu {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%;
    padding: 20px;
    text-align: center;
}

#topLeft, #topRight, #topCenter {
    position: absolute;
    top: 2%;
    height:5%;
    display:flex;
    flex-wrap:nowrap;
    justify-content:center;
    margin:0;
}

#topRight p, #topLeft p {
    margin:0; 
    padding:15px 10px 0px 5px;
}

#topLeft {
    left: 2%;
    width: 15%;
}

#topCenter {
    left:35%;
    padding: 0 20px;
    width:30%;
    text-align: center;
}

#topRight {
    right: 2%; 
    height: 5%; 
}

input[type="button"] {
    background: transparent;
    color: #71f341;
    margin:10px;
    padding:10px 20px;
    border:2px solid #71f341;
    border-radius:1px;
    cursor: pointer;
    box-shadow: 1px 2px 1px #71f341;
    transition:0.1s;
    font-weight:700;
}

input[type="button"]:hover {
    background-color:#71f341;
    color:#000;
    border:2px solid #000;
    border-left-color: #71f341;
    border-top-color: #71f341;
}

meter {
    border:2px solid #71f341;
    margin: 5px 10px;
    border-radius: 0;
    box-sizing: border-box;
    height:100%;
    width:80%;
}