html, body {
    width:100vw;
    height:100vh;
    margin:0;
}

.noCursor {
    cursor: none;
}

.layout {
    border: 5px solid #71f341;
    color: #71f341;
    background-color: #000;
}

.menu {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%;
    padding: 20px;
    text-align: center;
}

input[type="button"] {
    background: transparent;
    color: #71f341;
    margin:10px;
    padding:10px 20px;
    border:2px solid #71f341;
    cursor: pointer;
    box-shadow: 1px 2px 1px #71f341;
    transition:0.1s;
    font-weight:700;
}

input[type="button"]:hover {
    background-color:#71f341;
    color:#000;
}